alembic==1.0.7
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cymem==2.0.2
cytoolz==0.9.0.1
daemon==1.2
dill==0.2.9
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.2
numpy==1.16.1
pkg-resources==0.0.0
plac==0.9.6
preshed==2.0.1
psutil==5.6.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
python-dateutil==2.7.5
python-editor==1.0.3
regex==2018.1.10
requests==2.21.0
scikit-learn==0.20.2
scipy==1.2.1
six==1.12.0
sklearn==0.0
spacy==2.0.18
SQLAlchemy==1.2.17
thinc==6.12.1
toolz==0.9.0
tqdm==4.31.1
ujson==1.35
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
WTForms==2.2.1
