{% extends "base_admin.html" %}

{% block content %}


    <!-- Page Content -->
    <br><br><br><br><br>
    <div class="container d-flex justify-content-center">
      <br><br><br><br><br>
      <h2 style="text-align:center"></h2>
        <br>

            <div class="card animated fadeInLeft w-50 cardCount new-card border-0 shadow p-1">

                <div class="card-header">
                  <h1 style="text-align:center;margin-top:30px;">Applicant Info</h1>

                </div>

                <div class="card-body">
                  <!-- <img src="{{ url_for('static', filename='img/placeholder.jpg')}}" class="img-responsive mx-auto d-block rounded-circle" width="150px" height="150px"> -->
                  <!-- <br> -->
                  <h4 style="text-align:center">{{ user.email }}</h4>

                  <p style="text-align:center">Gender: {{ user.gender }}</p>

                  <p style="text-align:center">Phone No: {{ user.phone_no }}</p>

                <p style="text-align:center"><a href="/download_resume/{{ resume_name }}" download>Download Resume</a></p>
                <hr>
                <!-- <br> -->
                <p style="text-align:center">{{ user.bio }}</p>

                <hr>

                  <p class="card-text"><b></b></p>
                  <p class="card-text"><small class="text-muted"></small></p>
                <div class="d-flex justify-content-center">
                  {% if application.status == 'pending' or application.status == 'unread' %}
                <button type="button" class="btn btn-lg" style="margin-right:5px; background-color:#FCCE53; color:#fff" data-toggle="modal" data-target="#successModal">
                  Accept
                </button>

                <button type="button" class="btn btn-danger btn-lg" style="margin-right:5px;" data-toggle="modal" data-target="#rejectModal">
                  Reject
                </button>

                {% endif %}

                {% if application.status == 'rejected' or application.status == 'accepted' %}
                <button type="button" class="btn btn-secondary btn-lg" disabled style="margin-left:5px;">
                  You have already {{ application.status }} this applicant.
                </button>

                {% endif %}

              </div>
              <br>
              <a href="{{ url_for('viewapplicants', id=post.id )}}"><p class="text-info" style="text-align:center">View other applicants for this job</p></a>
            </div>
          </div>
      </div>
      <br><br>
    </div>


  <!-- modal -->  <!-- modal --> <!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal -->

  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Accept this applicant?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <form method="post">
          {{ form1.hidden_tag() }}
          {{ form1.submit(class_='btn', style = "background-color:#FCCE53; color:#fff") }}

        </form>
      </div>
    </div>
  </div>
  </div>


  <!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal --><!-- modal -->  <!-- modal -->

  <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
            {{ form2.hidden_tag() }}
       Do you want to reject this applicant?
       <br><br>
       <i>Give a reason...</i>
       <br><br>
       {{ form2.reject_choice(class_='form-control') }}


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>

        {{ form2.submit(class_='btn btn-danger') }}

        </form>
      </div>
    </div>
  </div>
  </div>

<!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal --> <!-- modal -->

{% endblock %}
