{% extends "base_reg.html" %}


{% block content %}
<br><br><br><br><br><br>
    <!-- Page Content -->
    <div class="container d-flex justify-content-center">


      <div class="card animated fadeInLeft new-card shadow p-1" style="width:60%">

          <!-- <div class="card-header">

          </div>
          <br> -->
          <div class="card-body">

            <h1 style="text-align:center;margin-top:25px;color:#0B3C5D">{{ job.title }}</h1>
            <h4 style="text-align:center">{{ job.organization }}</h4>

            <hr>

            <h4 style="text-align:center">Job Description:</h4>
            <p style="text-align:center">{{ job.description }}</p>


          <br>

            <h4 style="text-align:center">Pay</h4>
            <p style="text-align:center">${{ job.pay }}, {{ job.pay_frequency }}</p>


          <br>
          <div class="d-flex justify-content-center">
            {% if applied == False %}
          <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#exampleModal" style = "background-color:#FCCE53; color:#fff;">
            Apply for this job
          </button>
          {% endif %}

          {% if applied == True %}
          <button type="button" class="btn btn-secondary btn-lg" disabled>
            You have already applied for this job.
          </button>
          {% endif %}
        </div>

      </div>
    </div>





<!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submit Application?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to apply for this job?
        <br>
        Do remember to review the job description carefully.
        <br><br>
        If a resume is required, do ensure that your resume has been uploaded.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        <form method="post">
        <!-- <button type="button" class="btn btn-success">Apply</button> -->
          {{ form.hidden_tag() }}
          {{ form.submit(class_='btn', style = "background-color:#FCCE53; color:#fff; margin-top:16.5px") }}
        </form>
      </div>
    </div>
  </div>
</div>
<!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal --><!-- modal -->



        <br><br>
    </div>
    <!-- /.container -->

{% endblock %}
