{% extends "base_reg.html" %}

<body>
{% block content %}

    <!-- Page Content -->
   <div class="container">
     <br><br><br><br><br><br>


     <div id="main">
       <div class='card-column'>
       <h1 class="animate animated flipInX" style="text-align:center; color:#0B365D">Find Jobs</h1>
       <br>

       <div class="d-flex justify-content-center">

           <form method='post' class='form-inline'>
             {{ form.hidden_tag() }}

             <div class="form-group mx-sm-3 mb-2">
             {{ form.keyword(size=100, class_="form-control", placeholder="Search job-related keywords, separated by comma (e.g. Python, Tableau, Developer)", style="border-radius:30px;font-color:#ddd") }}
           </div>
             {{ form.submit(id='searchbtn', class_='btn btn-danger mb-2', style="border-radius:50px;background-color:#328CC1; border-color:#328CC1") }}


           </form>
       </div>
     </div>
 <br>
     {% if querystatus == 'success' %}
     <div class="alert" role="alert" style="background-color:#F2C44C; color:#fff !important">
       Your search returned {{ count }} result(s).
     </div>
     {% elif querystatus == 'length' %}
     <div class="alert alert-danger" role="alert">
       Your search is too short.
     </div>
     {% elif querystatus == 'noresult' %}
     <div class="alert alert-info" role="alert">
       Your search returned no results.
     </div>
     {% endif %}
     </div>


       <!-- <br> -->


       {% if querystatus == 'success' or querystatus == 'no query' %}
       <div id='allCards' class="card-column">
     {% for job in queried_jobs %}
       <div class="card animated fadeInUp cardCount new-card shadow p-1">
         <div class="card-body">
           <div class="card-title">

            <h4>{{ job.title }} - {{ job.organization }}</h4>
            <div class = "float-right">
              <a href="{{ url_for('applyjob', id=job.id) }}"><button type="button" class="btn" style="margin-top:-40px; background-color: #F2C44C; border: none; color:#fff">View</button></a>
            </div>
           <p class="card-text"><small class="text-muted">Posted on {{ job.timestamp.strftime('%Y-%m-%d') }} by {{ job.email }}</small></p>

         </div>
       </div>
     </div>
       <br>
     {% endfor %}
   </div>
   {% endif %}

   <div id='result' style='text-align:center'></div><br>
   <button onclick='loadMore()' type='button' class='btn btn-block btn-light'>Load More</button>

       <br><br>
       </div>
   </div>
   <!-- /.container -->
    <script>

        $(document).ready(function(){
        	$("#searchbtn").hover(function(){
        		$(this).toggleClass("animate animated heartbeat");
        	});
        });


        function loadMore(keywords,manyMore,count) {

          var result = document.getElementById("result");
          var keywords = {{ kw|safe}}
          var listingCount = $('.cardCount').length;
          console.log(listingCount);

          var data = {'keywords':keywords,'listingCount':listingCount}
          var csrf_token = "{{ csrf_token() }}";

          if (listingCount >= 5) {
          $.ajaxSetup({
              beforeSend: function(xhr, settings) {
                  if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                      xhr.setRequestHeader("X-CSRFToken", csrf_token);
                  }
              }
          });

          $.ajax({
          type: "POST",
          url: "/findjobs/ajax",
          data: JSON.stringify(data),
          contentType: "application/json; charset=utf-8", // this
          dataType: "json", // and this
          success: function (msg) {
             console.log('success')
             // console.log(msg['data']);
             var data = msg['data'];
             console.log(msg['data'])
             if (data.length > 0) {
             for (i=0; i<data.length; i++) {
               console.log(data[i])
               var id = data[i][0]
               var title = data[i][1]
               var organization = data[i][2]
               var postdate = data[i][3]
               var email=data[i][4]


               var combined1 = title + " - " + organization
               var combined2 = "Posted on " + postdate + " by " + email


               var div = document.createElement("div");
               div.innerHTML = "<div class='card animated fadeInUp cardCount new-card shadow p-1'><div class='card-body'><div class='card-title'><h4>" + combined1 + "</h4><div class = 'float-right'><a href='/applyjob/" + id + "'><button type='button' class='btn' style='margin-top:-40px; background-color: #F2C44C; border: none; color:#fff'>View</button></a></div><p class='card-text'><small class='text-muted'>" + combined2 + "</small></p></div></div></div><br>";

              document.getElementById("allCards").appendChild(div);

             }
           } else {
             result.innerHTML = (
               "<br><p>That's all folks!</p>"
             );
           }

            },
          error: function (errormessage) {
            console.log('failure')
          }
      });
    }
    else {
      result.innerHTML = (
        "<br><p>That's all folks!</p>"
      );
    }
  }


    </script>

{% endblock %}

</body>
