{% extends "base_admin.html" %}

{% block content %}

    <!-- Page Content -->
    <br><br><br><br><br><br>
    <div class="container d-flex justify-content-center">
      <br><br><br><br><br>
      <h2 style="text-align:center"></h2>
        <br>

            <div class="card animated fadeInLeft cardCount new-card w-50 shadow p-1">

                <div class="card-header">
                  <h1 style="text-align:center;margin-top:30px;">Give Feedback</h1>
                </div>

                <div class="card-body">
                  <h5>Some compliments and/or constructive criticisms...</h5>
                    <form method="post">
                      {{ form.hidden_tag() }}
                      <br>
                      {{ form.feedback(class_="form-control",placeholder="Enter Comments Here",height="80") }}

                      <br><br>

                        {{ form.submit(class_='btn btn-lg btn-block', style = "background-color:#FCCE53; color:#fff") }}

                    </form>
                </div>

              </div>
            </div>
      <br><br>


{% endblock %}
