{% extends "base_reg.html" %}


{% block content %}
<body>
    <!-- Page Content -->
    <div class="container">
      <br><br><br><br><br><br>

      <h1 class="animate animated flipInX" style="text-align:center; color:#0B365D">Featured Jobs</h1>
        <br>

      <!-- for loop -->
      {% for job in merged_set %}
      <div class="card-deck">
        <div class="card animate animated fadeInUp new-card shadow p-1">

          <div class="card-body">
            <class="card-title">

            <h4 style='font-size:20px;'>{{ job.title }}</h4>
            <h6 style='font-size:15px;color:#aaa'>{{ job.organization }}</h6>

            <div class = 'float-right' style="margin-top:-35px">
              <a href="/applyjob/{{ job.id }}"><button type="button" class="btn btn-secondary" style="margin-top:-20px; background-color: #f5b200; border: none; color:#fff">More Info</button></a>
              <!-- <button type = "button" class = "btn btn-secondary" style="margin-top:0.5px; background-color: #F2C44C; border: none; color:#fff">Apply Now</button> -->
              <!-- style = "background-color: #5DA2D5; border-color:#5DA2D5" -->
            </div>

            <p class="card-text"></p>
            <p class="card-text" style="font-size:10px">{{ job.timestamp.strftime('%Y-%m-%d') }}</p>

          </div>


          <!-- <div id = "{{item}}" class = "collapse">
              <div class = "card-body">
                  <p class = "card-text"> {{ job.description }} </p>
              </div>
          </div> -->



        </div>
      </div>
      <br><br>
      {% endfor %}

        <br><br>
    </div>
</body>

    <!-- /.container -->
  {% endblock %}
