{% extends "base_admin.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
      <br><br><br><br><br><br>

      <h1 style="text-align:center">My Dashboard</h1>
        <br>

        <div class="row">
  <div class="col-sm">
    <div class="card text-white animated fadeInUp enable-shadow shadow p-1 border-0" style = "border-radius:25px;">
      <div class="card-body" style="text-align:center; background-color:#FCCE53; border:none; border-radius:25px;">

        <p class="card-title">You currently have</p>
        <h1 class="card-text" style="font-size:60px">{{ listingscount }}</h1>
        {% if listingscount != 1 %}
        <h5 class="card-text">Ongoing Listings</h5>
        {% elif listingscount == 1 %}
        <h5 class="card-text">Ongoing Listing</h5>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card text-white animated fadeInUp enable-shadow shadow p-1 border-0" style = "border-radius:25px;">
      <div class="card-body" style="text-align:center; background-color:#EBBC42; border:none; border-radius:25px;">
        {% if unreadcount != 1 %}
        <p class="card-title">There are</p>
        <h1 class="card-text" style="font-size:60px">{{ unreadcount }}</h1>
        <h5 class="card-text">Unread Applications</h5>
        {% elif unreadcount == 1 %}
        <p class="card-title">There is</p>
        <h1 class="card-text" style="font-size:60px">{{ unreadcount }}</h1>
        <h5 class="card-text">Unread Application</h5>
        {% endif %}

      </div>
    </div>
  </div>

  <div class="col-sm">
    <div class="card text-white animated fadeInUp enable-shadow shadow p-1 border-0" style = "border-radius:25px;">
      <div class="card-body" style="text-align:center; background-color:#D3A529; border:none; border-radius:25px;">
        <p class="card-title">Your latest listing has</p>
        {% if impressions_list|length > 0 %}
        <h1 class="card-text" style="font-size:60px">{{ impressions_list[-1] }}</h1>
        {% elif impressions_list|length == 0 %}
        <h1 class="card-text" style="font-size:60px">0</h1>
        {% endif %}

        {% if impressions_list|length == 1 %}
        <h5 class="card-text">Unique Impression</h5>
        {% elif impressions_list|length != 1 %}
        <h5 class="card-text">Unique Impressions</h5>
        {% endif %}

      </div>
    </div>
  </div>
</div>

  <br><br>
  <div class="card animated fadeInUp shadow p-1">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs pull-right"  id="myTab" role="tablist">
      <li class="nav-item">
       <a class="nav-link active" id="home-tab" data-toggle="tab" href="#stat1" role="tab" aria-controls="stat1" aria-selected="true" style = "color:#EBBC42;">Applicants</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stat2" role="tab" aria-controls="stat2" aria-selected="false" style = "color:#D3A529;">Impressions</a>
      </li>

    </ul>
  </div>
  <div class="card-body">
   <div class="tab-content" id="myTabContent">
             <div class="tab-pane fade show active" id="stat1" role="tabpanel" aria-labelledby="stat1-tab">
               <canvas id="applicantChart"></canvas>
             </div>

            <div class="tab-pane fade" id="stat2" role="tabpanel" aria-labelledby="stat2-tab">
              <canvas id="impressionChart"></canvas>
            </div>
      </div>

  </div>
</div>


  <br><br>
    </div>



    <!-- /.container -->
    <script>
    var ctx = document.getElementById('applicantChart').getContext('2d');
    var applicantList = {{ applicantcount_list|safe }}
    var jobtitleList = {{ jobtitle_list|safe }}
    var chart = new Chart(ctx, {
    // The type of chart we want to create

    type: 'bar',

    // The data for our dataset
    data: {
        labels: jobtitleList,
        datasets: [{
            label: "Applicants",
            // backgroundColor: 'rgb(40, 167, 69)',
            backgroundColor: 'rgb(192, 192, 192, 0.5)',
            data: applicantList,
        }]
    },

    // Configuration options go here
    options: {
    scales: {
        yAxes: [{
            ticks: {
                fixedStepSize: 1,
                min: 0,
            }
        }],
    },
}
});

var ctx2 = document.getElementById('impressionChart').getContext('2d');
var jobtitleList = {{ jobtitle_list|safe }}
var impressionsList = {{ impressions_list|safe }}
var chart2 = new Chart(ctx2, {
// The type of chart we want to create
type: 'bar',

// The data for our dataset

data: {
    labels: jobtitleList,
    datasets: [{
        label: "Impressions",
        // backgroundColor: 'rgb(220, 53, 69)',
        backgroundColor: 'rgb(192, 192, 192, 0.5)',
        data: impressionsList,
    }]
},

// Configuration options go here
options: {
    scales: {
        yAxes: [{
            ticks: {
                fixedStepSize: 1,
                min: 0,
            }
        }],
    },
}
});

</script>

{% endblock %}
