{% extends "base_reg.html" %}


{% block content %}

    <!-- Page Content -->
    <div class="container">
      <br><br><br><br><br><br>

        <h1 style="text-align:center">My Feedback</h1>

        <br>

        {% for f in feedbacks %}


        <div class="card-column">

        <div class="card animated fadeInUp cardCount new-card shadow p-1">
          <div class="card-body">
            <p style="font-size:15px;color:#b9b9b9">Feedback from {{ f.sent }}</p>
            <p>{{ f.feedback_msg }}</p>


          </div>
        </div>
        <br>

    </div>


    {% endfor %}

        <br><br>
        </div>

    <!-- /.container -->

{% endblock %}
