{% extends "base_reg.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
      <br><br><br><br><br><br>



        <h1 style="text-align:center">My Jobs</h1>



        <br>

          {% for j in myjoblist %}

        <div class="card-column">

        <div class="card animated fadeInUp cardCount new-card shadow p-1">
          <div class="card-body">
            <a href="{{ url_for('applyjob', id=j[1].id) }}" class='text-dark'><h5>{{ j[1].title }}</h5></a>
            <p>{{ j[1].organization }}</p>
          <div class="float-right" style="margin-top:-72px;">
          {% if j[0].status == 'unread' %}
            <span class="badge badge-pill badge-secondary" style = "font-family:Lato">Not Read</span>
            {% elif j[0].status == 'pending' %}
            <span class="badge badge-pill badge-warning">Pending</span>
            {% elif j[0].status == 'rejected' %}
          <span class="badge badge-pill badge-danger" style = "font-family:Lato, san-serif">Rejected - {{ j[0].reject_reason }}</span>
            {% elif j[0].status == 'accepted' %}
            <span class="badge badge-pill badge-success">Accepted</span>
          {% endif %}
        </div>

        <p class="card-text" style = "font-size:10px;">Application ID {{ j[0].id }} - Applied on {{ j[0].timestamp.strftime('%Y-%m-%d') }}</p>

        </div>


        </div>

    </div>
    <br>


      {% endfor %}










        <br><br>
        </div>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript -->

    <script>
    $(document).ready(function() {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  });
  </script>


{% endblock %}
