{% extends "base_reg.html" %}


{% block content %}

    <!-- Page Content -->
    <br><br><br><br><br>


    <div class="container d-flex justify-content-center">
      <br><br><br><br><br>

      <div class="animated fadeInUp w-75">

        {% for c in comment %}

        <div class="alert alert-secondary animated fadeIn" role="alert" style="text-align:center;">
          <h5 style='margin-top:9px'>{{ c }}</h5>
          </div>
          {% endfor %}

        <div class="card cardCount new-card shadow p-1">
          <div class="card-header">
            <h1 style="text-align:center;margin-top:25px;">My Profile</h1>
          </div>


          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {{ form.hidden_tag() }}
            <!-- <img src="{{ url_for('static', filename='img/placeholder.jpg')}}" class="img-responsive mx-auto d-block rounded-circle" width="150px" height="150px"> -->
            <!-- <br> -->
            <!-- <h5 style="text-align:center">{{ current_user.email }}</h5> -->

              <br>
              <div class="form-group">
                  <h5 style="text-align:center">Basic Information</h5>
                  <br>
                <div class="row">
              <div class="col-sm-6">
                <p style="text-align:center">Gender</p>
                {{ form.gender(class_="form-control")}}
              </div>

              <div class="col-sm-6">
                <p style="text-align:center">Phone Number (+65)</p>
                <!-- <input type="text" class="form-control" id="job-title" size=50> -->
                {{ form.phone_no(size=20, class_="form-control", placeholder="") }}
              </div>

            </div>
          </div>


            <br><br><hr>

              <div class="form-group">
                <br>
                <h5 style="text-align:center">Bio</h5>
                <!-- <textarea class="form-control" id="message-text" size=80></textarea> -->
                {{ form.bio(size="70", class_="form-control", placeholder="Garner sympathy by writing about how poor you are...", rows="7") }}
              </div>

              <br><hr>

              <div class="form-group" style='text-align:center'>
                <br>
                <h5 style="text-align:center">Upload Resume (PDF or Word only)</h5>
                <!-- <textarea class="form-control" id="message-text" size=80></textarea> -->
                {% if filename != '' %}
                {{ filename }}
                {% else %}
                You haven't uploaded any resume yet.
                {% endif %}
                {{ form.resume(class_="form-control,hidden") }}
              </div>

              <br><hr>

              <div class="form-group">
                <br>
                <h5 style="text-align:center">Keywords</h5>
                <!-- <textarea class="form-control" id="message-text" size=80></textarea> -->
                {{ form.keywords(size="70", id="keywords", class_="form-control", placeholder="Enter up to 10 keywords (Separated by commas) that you are interested in...", rows="7") }}
              </div>
                <div style="text-align:center" id='result'></div>

                <br><hr>


              <div class="d-flex justify-content-center">
              {{ form.submit(class_='btn', style = "background-color:#FCCE53; color:#fff;") }}
            </div>
            </form>

      </div>
    </div>
  </div>
  </div>





        <br><br>
    </div>
    <!-- /.container -->

    <script>
    function wordsToList(str) {
      var splitted = str.split(',');
      return splitted;
    }

    var keywordarea = document.getElementById("keywords");
    var result   = document.getElementById("result");
    var submit = document.getElementById("submit");

    keywordarea.addEventListener("input", function(){
    var v = wordsToList( this.value );
    if ( v == '' ) {
      result.innerHTML = (
        "0 Keywords Entered"
      );
    } else if ( v.length < 11 ) {
      result.innerHTML = (
        v.length + " Keywords Entered"
      );
    }
     else {
      result.innerHTML = (
        "<p class='text-danger'>Keyword Count Exceeded</p>"
      );
    }

  }, false);
    </script>

{% endblock %}
