{% extends "base_admin.html" %}

{% block content %}


    <!-- Page Content -->
    <div class="container">
      <br><br><br><br><br><br>
      <h6 style="text-align:center">Applicants for</h6>
      <h1 style="text-align:center">{{ post.title }}</h1>
      <h5 style="text-align:center">{{ post.organization }}</h5>
        <br>


          <div class="card-column">
        {% for a in viewapplicants_list %}
          <div class="card animated fadeInUp cardCount new-card shadow p-1">
            <div class="card-body">

              <div class="float-right">
                {% if a[0].status == 'accepted' and a[0].feedback_given == 'No' %}
                <a href='{{ url_for('givefeedback', id=post.id, user_id=a[1].id) }}'><button type="button" class="btn" style="background-color:#FCCE53; color:#fff;">Job Done? Give some feedback...</button></a>
                {% elif a[0].status == 'accepted' and a[0].feedback_given == 'Yes' %}
                <button type="button" class="btn btn-light disabled">Thanks for your feedback.</button>
                {% endif %}
                <a href='{{ url_for('applicantinfo', id=post.id, user_id=a[1].id) }}'><button type="button" class="btn" style = "background-color: #F2C44C; color:#fff;">View Profile</button></a>
              </div>

              <h5 class="card-title">{{ a[1].email }}</h5>

              {% if a[0].status == 'unread' %}
                <span class="badge badge-pill badge-secondary" style="margin-bottom:18px">Not Read</span>
                {% elif a[0].status == 'pending' %}
                <span class="badge badge-pill badge-warning" style="margin-bottom:18px">Pending</span>
                {% elif a[0].status == 'rejected' %}
                <span class="badge badge-pill badge-danger" style="margin-bottom:18px">Rejected</span>
                {% elif a[0].status == 'accepted' %}
                <span class="badge badge-pill badge-success" style="margin-bottom:18px">Accepted</span>
              {% endif %}

              <p class="card-text"><small class="text-muted">Applied on {{ a[0].timestamp.strftime('%Y-%m-%d') }}</small></p>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </div>
    <input type="hidden" id="refreshed" value="no">

{% endblock %}
